.footer {
    background-color: black;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.footer-contact > h2{ 
    color: white;
    font-size: 30pt;
    text-align: center;
}

.footer-contact > h3{ 
    color: #BDC1C5;
    font-size: 25pt;
    text-align: center;
    padding: 6px;
    border: 1px solid white;
    border-radius: 4px;
}

.footer-social-icon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.social-icons{
    color: white;
    font-size: 50px;
    padding: 50px;
    padding-bottom: 10px;
}
.fa-twitter{
    color: #1EA1F1;
}
.fa-linkedin{
    color: #0B66C2;
}
.fa-instagram{
    text-align: center;
    border-radius: 15px;
    padding: 4px;
    margin-left:50px;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

@media (max-width: 750px){
    .footer-contact > h3{
    font-size: 20px;
    }
    .footer-contact > h2{
        font-size: 25px;
        }
    .social-icons{
    padding: 15px;
    }
    .fa-instagram{
        margin-left: 8px;
        padding: 4px;
    }
}